<html>
<p>Our platform uses specialized neural network technology to retrieve and update university info and communications. Our neural network does this with 99% accuracy 

So with each engagement you have with Futurescore, whether on our website or on our social media profiles, it's really as if you're engaging with the university directly
</p>
<p>We wish to partner with government and universities in order to provide a centralized source of academic information. Doing this will enhance strategic decision making for leaders, and enable a whole new level of resources for university researchers.
</p>
Along with the on-platform user engagement, it will be easier for government to develop skills development programs, make investment-related decisions, and monitor their campaigns as and when they happen. This could include, assessing the success of the latest hackathon sponsored to the University of Johannesburg and seeing exactly how students are finding value from it. 
This also fast tracks employment, for both students and employers. It will be easier to grant a positive employment decision for a new graduate knowing that they've participated in the skills development programs offered through Futurescore. Skills development programs that are directly made by government, powered by the Futurescore data.

<p>Think of Futurescore as a data-centric platform. Powered by data, and informing decision making through data</p>