<html>
    <h1>POWERING PROFESSIONAL EDUCATION!</h1>

        <p>Education is the root of innovation. We love innovation, we actively pursue it.</p>
        
        <p>Here's a rundown of what Futurescore is and what it does;</p>
        <ul>
        <li>A seamless use of digital technology, offering an empowering platform for youth to validate and nurture their ideas</li>
        <li>We started off simple, and continuously improved our service. We are now the leading provider of digital academic networking</li>
        <li>Our platform integrates all the three important pillars of student skills development: Higher learning institutions (universities), funding institutions (NSFAS), and Digital Skills Networking (DSN) - read more about DSN below (our flagship social networking platform which further extends the sites' static nature into a dynamic standard).</li>
        </ul>
        
        Our Attributes are simple; and inspired by Agile
        - Transparency
        - Customer Focus
        - Adaptability
        - Shared Ownership, and
        - Continuous Improvement
        <h2>Digital Skills Networking (DNS)</h2>
        <p>DSN uses the usual social networking algorithms to drive a social networking platform and experience that enhances users' experience. It was first developed by a team of CS50 students, from the highly rated 'Introduction to Computer Science' course offered by Harvard.
        They formed up, courtesy of Anza Kutama posting a proposal on Instagram about the formation of the leading team of developers who would start "breaking ground" on the project. <a href="/src/content/about/ourstorytext.astro">You can learn more about this story here.</a>
        And it's impressive how just continously grinding it out can create amazing things. Our platform is easy to navigate, it provides useful content, and students can be sure that they'll get the most out of their time on the platform.</p>
        