<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="assets/vendors/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/official/assets/css/style.css">
</head>

<body>
    <header class="foi-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light foi-navbar">
                <a class="navbar-brand" href="index.astro">
                    <img src="/official/assets/images/futurescore-favicon.jpg" alt="FOI">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/official/pages/index.astro">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="about.astro">
                                <strong class="fs-navstr">About <span class="sr-only">(current)</span></strong>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.astro">General Enquiries</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item mr-2 mb-3 mb-lg-0">
                            <a class="btn btn-secondary" href="register.astro">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary" href="login.astro">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="page-about">
        <div class="container">
            <section class="page-header">
                <h1>About</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb foi-breadcrumb">
                        <li class="breadcrumb-item"><a href="/official/pages/index.astro">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </section>
            <section class="foi-page-section pt-0">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0 pr-lg-0">
                        <h2 class="about-section-one-title">
                            With the highest integration of infomation, <span class="font-weight-normal">the world of academics is at your fingertips.</span>
                        </h2>
                        <div class="about-section-one-content">
                            <p>Our platform uses specialized neural network technology to retrieve and update university info and communications. Our neural network does this with 99% accuracy So with each engagement you have with Futurescore, whether on our website or on our social media profiles, it's really as if you're engaging with the university directly.</p>

                        <h2 class="about-section-one-title">
                            <span class="font-weight-normal">Our values are simple, and inspired by Agile;</span>
                        </h2>
                            <ul>
                                <li>Transparency</li>
                                <li>User Focus</li>
                                <li>Adaptability</li>
                                <li>Shared Ownership, and</li>
                                <li>Continuous Improvement</li>
                            </ul>
                            <p class="mb-0">We offer a seamless use of digital technology, offering an empowering platform for youth to validate and nurture their ideas.</p>
                        </div>
                    </div>
                    <div class="col-md-6 pl-lg-0 d-flex align-items-center align-items-lg-end">
                        <img src="/official/assets/images/boy-attending-online-project.png" alt="about" class="img-fluid" width="448px">
                    </div>
                </div>
            </section>

            <section class="foi-page-section">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <img src="/official/assets/images/girl-with-laptop.png" alt="about 2" class="w-100 img-fluid pr-md-5" width="437px">
                    </div>
                    <div class="col-md-6">
                        <h2 class="about-section-two-title">Free and unlimited access <span class="font-weight-normal">to quality educational resources.</span></h2>
                        <div class="about-section-two-content">
                            <p>Students' uncertainty about what to study and university applications are major factors discouraging entry for certain groups of students. Research shows this information is needed from an early age (pre-16 years). Through our platform we're providing high quality educational content, and enabling peer-to-peer and industry-to-professional learning, as well as advice sharing. We give learners the opportunity to improve their career entry by improving confidence in learning materials.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="foi-page-section pt-0">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0 pr-lg-0">
                        <h2 class="about-section-one-title">
                            Rich in diversity<span class="font-weight-normal">.</span>
                        </h2>
                        <div class="about-section-one-content">
                            <p>It is undisputed that diverse backgrounds, experiences and perspectives bring an improved learning experience. Such environments improve learners’ interpersonal skills, boost their critical thinking, and increase their interests and participation in civic and community engagement. Connected from all over the world, our Discord community maintains this safe space for learners' to engage in peer-learning & enrich soft skills.</p>
                        </div>
                    </div>
                    <div class="col-md-6 pl-lg-0 d-flex align-items-center align-items-lg-end">
                        <img src="/official/assets/images/media-graphic.png" alt="about" class="img-fluid" width="448px">
                    </div>
                </div>
            </section>
            
            <section class="foi-page-section mb-5">
                <h5 class="text-center font-os mb-0">The amazing team</h5>
                <h2 class="team-section-title">Our Creative Minds</h2>
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <div class="team-member-card">
                            <img src="assets/images/user/user_1.png" alt="Anza Kutama" class="team-member-avatar">
                            <h6 class="mb-0">Anza Kutama</h6>
                            <p class="team-member-designation">Interest Group Lead</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="team-member-card">
                            <img src="assets/images/user/user_2.png" alt="Leo Ntluka" class="team-member-avatar">
                            <h6 class="mb-0">Leo Ntluka</h6>
                            <p class="team-member-designation">Communications</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="team-member-card">
                            <img src="assets/images/user/user_3.png" alt="Nigel Zenter" class="team-member-avatar">
                            <h6 class="mb-0">Nigel Zenter</h6>
                            <p class="team-member-designation">Governance</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="team-member-card">
                            <img src="assets/images/user/user_4.png" alt="Innocent Mugwadi" class="team-member-avatar">
                            <h6 class="mb-0">Innocent Mugwadi</h6>
                            <p class="team-member-designation">Lead Researcher</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="team-member-card">
                            <img src="assets/images/user/user_5.png" alt="Mafanedza Matshete" class="team-member-avatar">
                            <h6 class="mb-0">Mafanedza Matshete</h6>
                            <p class="team-member-designation">Communications Researcher</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="team-member-card">
                            <img src="assets/images/user/user_4.png" alt="Nonhle Msomi" class="team-member-avatar">
                            <h6 class="mb-0">Nonhle Msomi</h6>
                            <p class="team-member-designation">Graphics Designer</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="foi-footer text-white">
        <div class="container">
            <div class="row footer-content">
                <div class="col-xl-6 col-lg-7 col-md-8">
                    <h2 class="mb-0">Do you want to know more or just have a question? write to us.</h2>
                </div>
                <div class="col-md-4 col-lg-5 col-xl-6 py-3 py-md-0 d-md-flex align-items-center justify-content-end">
                    <a href="contact.html" class="btn btn-danger btn-lg">Contact form</a>
                </div>
            </div>
            <div class="row footer-widget-area">
                <div class="col-md-3">
                    <div class="py-3">
                        <p class="font-os font-weight-semibold mb3">Futurescore</p>
                        <img src="/official/assets/images/futurescore-favicon.jpg" alt="Futurescore logo">
                    </div>
                    <p class="font-os font-weight-semibold mb3">Connecting academia</p>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Account</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">My tasks</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Edit profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Activity</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#!" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Careers <span class="badge badge-pill badge-secondary ml-3">Hiring</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Blog</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav class="social-menu">
                        <a href="#!"><img src="/official/assets/images/facebook.svg" alt="facebook"></a>
                        <a href="https://instagram.com/futurescore.tech"><img src="/official/assets/images/instagram.svg" alt="instagram"></a>
                        <a href="#!"><img src="/official/assets/images/twitter.svg" alt="twitter"></a>
                        <a href="#!"><img src="/official/assets/images/youtube.svg" alt="youtube"></a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <script src="/official/assets/vendors/jquery/jquerymin.js"></script>
    <script src="/official/assets/vendors/popper.js/popper.min.js"></script>
    <script src="/official/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>