<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Communication Guidelines</title>
    <link rel="stylesheet" href="assets/vendors/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/official/assets/css/style.css">
    <link rel="icon" href="/official/assets/images/futurescore-favicon_updated.jpeg" type="image/x-icon"/>
</head>

<body>
    <header class="foi-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light foi-navbar">
                <a class="navbar-brand" href="index.astro">
                    <img src="/official/assets/images/futurescore-favicon_updated.jpeg" alt="futurescore favicon">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.astro">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/official/pages/about.astro">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/official/pages/contact.astro">General Enquiries</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item mr-2 mb-3 mb-lg-0">
                            <a class="btn btn-secondary" href="/official/pages/register.astro">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary" href="/src/pages/login.astro">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <section class="page-header">
                        <h2>Futurescore Communication Channels Guidelines</h2>
                        <h5>Whether you have questions or you would just like to say hello, contact us.</h5>
                    </section>
                    <section class="privacy-policy-section">
                        <div class="row">
                            <div class="col-md-3 position-relative">
                                <nav class="nav privay-policy-nav">
                                    <a href="#user-licence" class="nav-link">Purpose</a>
                                    <a href="#disclaimer" class="nav-link">Spamming and Swamming</a>
                                    <a href="#limitations" class="nav-link">Unwanted Voice/Video Calling</a>
                                    <a href="#governing-law" class="nav-link">Reporting an Issue</a>
                                    <a href="#governing-law" class="nav-link">Consequence of Unacceptable Behaviour</a>
                                </nav>
                            </div>
                            <div class="col-md-9">
                                <div class="privay-policy-card card">
                                    <div class="card-body">
                                        <div id="user-licence">
                                            <p>Implemented for Futurescore on 20 Oct 2023<br>
                                                Version 1.0, October 20, 2023</p>
                                            <h5 class="policy-title">Purpose</h5>
                                            <p>The purpose of this document is to: </p>
                                            <p>Specify the expected behavior of all participants in Futurescore communication channels such as mailing lists, forums, code review tools, bug trackers, issue trackers, Zoom, Slack and Mattermost channels, and similar; and </p>
                                            <p>Specify the consequences of unacceptable behavior. </p>
                                        </div>
                                        <div id="disclaimer">
                                            <h5 class="policy-title">Spamming and Swamming</h5>
                                            <p>Please keep your messages on topic for each channel, and please use the appropriate channel. Spamming channels with unsolicited or commercially-focused messages is not allowed. Frequent messages which result in unwarranted churn on a channel (sometimes referred to as “swarming”) is not allowed. </p>
                                            <p>Directly messaging users (unless the user has specifically requested the information) offering services, events, employment opportunities or freelance projects, is not allowed.</p>
                                        </div>
                                        <div id="limitations">
                                            <h5 class="policy-title">Unwanted Voice/Video Calling </h5>
                                            <p>Abuse of the voice/video calling features of any of the available channels to call users without their permission is not allowed. Accidents sometimes happen, please immediately let the user know it was a mistake.</p>
                                        </div>
                                        <div id="governing-law">
                                            <h5 class="policy-title">Reporting an Issue</h5>
                                            <p>Please send an email to anzav.kutama@gmail.com if you wish to report an issue under these guidelines. </p>
                                        </div>
                                        <div id="governing-law">
                                            <h5 class="policy-title">Consequences of Unacceptable Behavior </h5>
                                            <p>Unacceptable behavior from any community member will not be tolerated. </p>
                                            <p>If a community member engages in unacceptable behavior, Futurescore staff may take any action deemed appropriate, up to and including a warning or temporary 30 day ban, along with a permanent ban for repeated or egregious violation of these guidelines. Unless otherwise determined by the EMO, consequences will escalate as follows:</p>
                                            <ul>
                                                <li>A warning</li>
                                                <li>A temporary 30-day ban from all Futurescore channels. </li>
                                                <li>A permanent ban from all Futurescore channels </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>

    <footer class="foi-footer text-white">
        <div class="container">
            <div class="row footer-content">
                 <div class="col-xl-6 col-lg-7 col-md-8">
                    <h2 class="mb-0">Do you want to know more or just have a question? write to us.</h2>
                </div>
                <div class="col-md-4 col-lg-5 col-xl-6 py-3 py-md-0 d-md-flex align-items-center justify-content-end">
                    <a href="contact.html" class="btn btn-danger btn-lg">Contact form</a>
                </div>
            </div>
            <div class="row footer-widget-area">
                <div class="col-md-3">
                    <div class="py-3">
                        <p class="font-os font-weight-semibold mb3">Futurescore</p>
                        <img src="/official/assets/images/futurescore-favicon.jpg" alt="Futurescore logo">
                    </div>
                    <p class="font-os font-weight-semibold mb3">Connecting academia</p>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Account</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">My tasks</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Edit profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Activity</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#!" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="./career-considerations.astro" class="nav-link">Careers <span class="badge badge-pill badge-secondary ml-3">Hiring</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/official/pages/privacy-policy.astro" class="nav-link">Contributor Agreement</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav class="social-menu">
                        <a href="#!"><img src="/official/assets/images/facebook.svg" alt="facebook"></a>
                        <a href="#!"><img src="/official/assets/images/instagram.svg" alt="instagram"></a>
                        <a href="#!"><img src="/official/assets/images/twitter.svg" alt="twitter"></a>
                        <a href="#!"><img src="/official/assets/images/youtube.svg" alt="youtube"></a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <script src="/official/assets/vendors/jquery/jquerymin.js"></script>
    <script src="/official/assets/vendors/popper.js/popper.min.js"></script>
    <script src="/official/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
