<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="assets/vendors/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/official/assets/css/style.css">
</head>

<a href="/official/pages/testpage.astro"> Test page</a>

<body>
    <header class="foi-header landing-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light foi-navbar">
                <a class="navbar-brand" href="index.astro">
                    <img src="/official/assets/images/futurescore-favicon_updated.jpeg" alt="futurescore favicon">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.astro">
                                <strong class="fs-navstr">Home <span class="sr-only">(current)</span></strong>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/official/pages/about.astro">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/official/pages/contact.astro">General Enquiries</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item mr-2 mb-3 mb-lg-0">
                            <a class="btn btn-secondary" href="/official/pages/register.astro">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary" href="/src/pages/login.astro">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <div class="header-content">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Bridging gaps, fostering growth</h1>
                        <p class="text-dark">Connecting all facets of post-education.</p>
                        <button class="btn btn-primary mb-4">Get Started</button>
                    </div>
                    <div class="col-md-6">
                        <img src="/official/assets/images/brain-cartoon-character.png" alt="app" width="388px" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="py-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <img src="/official/assets/images/grow-learn-explore.jpg" alt="special offers" class="img-fluid" width="492px">
                </div>
                <div class="col-md-6">
                    <h2 class="section-title">Because growth is endless</h2>
                    <p class="mb-5">We encourage it. We actively persue it.</p>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="media landing-feature">
                                <span class="landing-feature-icon"></span>
                                <div class="media-body">
                                    <h5>Collab with mates</h5>
                                    <p>Join groups and short-term projects working on real world solutions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="media landing-feature">
                                <span class="landing-feature-icon"></span>
                                <div class="media-body">
                                    <h5>Find ground in your field</h5>
                                    <p>Learn about the latest trends in your industry and stay ahead.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="media landing-feature">
                                    <span class="landing-feature-icon"></span>
                                    <div class="media-body">
                                        <h5>Regular learning resources and opportunities</h5>
                                        <p>We partner with skills development institutions and corporations to provide you with valuable career resources.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="media landing-feature">
                                    <span class="landing-feature-icon"></span>
                                    <div class="media-body">
                                        <h5>Advance your network</h5>
                                        <p>Make your mark and give yourself an employment advantage.</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 mb-5">
            <h2 class="section-title">Application Features</h2>
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <h5>Fully secure</h5>
                    <p class="text-dark">Only you have access to your data, unless you decide to share it with on-the-platform professors and mentors.</p>
                    <h5>Resource intensive</h5>
                    <p class="text-dark">Whether you're just starting out, already on your journey, or changing careers, you'll find everything youre looking for.</p>
                </div>
            </div>
    </section>

    <footer class="foi-footer text-white">
        <div class="container">
            <div class="row footer-content">
                 <div class="col-xl-6 col-lg-7 col-md-8">
                    <h2 class="mb-0">Do you want to know more or just have a question? write to us.</h2>
                </div>
                <div class="col-md-4 col-lg-5 col-xl-6 py-3 py-md-0 d-md-flex align-items-center justify-content-end">
                    <a href="contact.html" class="btn btn-danger btn-lg">Contact form</a>
                </div>
            </div>
            <div class="row footer-widget-area">
                <div class="col-md-3">
                    <div class="py-3">
                        <p class="font-os font-weight-semibold mb3">Futurescore</p>
                        <img src="/official/assets/images/futurescore-favicon.jpg" alt="Futurescore logo">
                    </div>
                    <p class="font-os font-weight-semibold mb3">Connecting academia</p>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Account</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">My tasks</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Edit profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Activity</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="#!" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="#!" class="nav-link">Careers <span class="badge badge-pill badge-secondary ml-3">Hiring</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/official/pages/documents.astro" class="nav-link">Documents</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 mt-3 mt-md-0">
                    <nav class="social-menu">
                        <a href="#!"><img src="/official/assets/images/facebook.svg" alt="facebook"></a>
                        <a href="https://instagram.com/scholalink"><img src="/official/assets/images/instagram.svg" alt="instagram"></a>
                        <a href="https://twitter.com/scholalink"><img src="/official/assets/images/twitter.svg" alt="twitter"></a>
                        <a href="#!"><img src="/official/assets/images/youtube.svg" alt="youtube"></a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <script src="/official/assets/vendors/jquery/jquerymin.js"></script>
    <script src="/official/assets/vendors/popper.js/popper.min.js"></script>
    <script src="/official/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>               