<html>
  <body>
    <h1>Hello, Futurescore!</h1>
    <em> Connecting academia </em>
    <iframe src="/src/content/about/abouttext.astro" width="650" height="500"></iframe>
  </body>
</html>
<style>
  h1 {
    color: rgb(255, 8, 0);
  }
</style>