---
import "../assets/css/style.css";
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="assets/vendors/fontawesome-free/css/all.min.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light foi-navbar">
    <a class="navbar-brand" href="index.astro">
        <img src="/official/assets/images/futurescore-favicon_updated.jpeg" alt="futurescore favicon">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="index.astro">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/official/pages/about.astro">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/official/pages/contact.astro">General Enquiries</a>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item mr-2 mb-3 mb-lg-0">
                <a class="btn btn-secondary" href="/official/pages/register.astro">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary" href="/src/pages/login.astro">Login</a>
            </li>
        </ul>
    </div>
</nav>

<script src="/official/assets/vendors/jquery/jquerymin.js"></script>
<script src="/official/assets/vendors/popper.js/popper.min.js"></script>
<script src="/official/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>